.box{
    background-color: aqua;
}

*{
    margin: 0;
    padding: 0;
}

.box1{
    color: rgb(247, 13, 33);
    padding: 10px;
    margin: 5px;
    border: 2px solid darkblue;
    height: 200px;
    width: 200px;
    box-sizing: border-box;
}

.box2{
    color: rgb(246, 15, 176);
}